TABLE {
	text-align : left;
}
TH {
	font-weight : bold;
	font-size : large;
	text-align : left;
}
A:LINK,A:VISITED {
	color : Silver;
}
A:HOVER {
	color : White;
}
.bv7 {
	font-size : xx-small;
}
.hr {
	border-bottom : medium double;
}